.iconset-selector__button,
.iconset-selector__icons .icon-selector {
  display: inline-block;
  background: #eaeaea;
  cursor: pointer;
  width: 70px;
  height: 70px;
  padding: 4px;
  margin: 2px;
  border: 2px solid #aaa;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px #777;
  box-shadow: 0 1px 2px #777;
}
.iconset-selector__button:hover, .iconset-selector__button.icon--active,
.iconset-selector__icons .icon-selector:hover,
.iconset-selector__icons .icon-selector.icon--active {
  background: #fff;
  border-color: #78f;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
}
.iconset-selector__button .icon,
.iconset-selector__icons .icon-selector .icon {
  width: 60px;
  max-height: 60px;
  height: auto;
}
.iconset-selector__button .icon--font,
.iconset-selector__icons .icon-selector .icon--font {
  font-size: 48px;
  text-align: center;
}

.iconset-selector__icons .pane__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-flow: space-evenly;
  flex-flow: space-evenly;
}
.iconset-selector__icons .icon-selector {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.iconset-selector__icons .icon-selector .icon {
  opacity: 0.75;
}
.iconset-selector__icons .icon-selector .icon:hover, .iconset-selector__icons .icon-selector.icon--active .icon {
  opacity: 1;
}