$iconset-selector-size: 60px;

.iconset-selector__button,
.iconset-selector__icons .icon-selector {
  display: inline-block;
  background: #eaeaea;
  cursor: pointer;
  width: $iconset-selector-size + 10;
  height: $iconset-selector-size + 10;
  padding: 4px;
  margin: 2px;
  border: 2px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px #777;

  &:hover,
  &.icon--active {
    background: #fff;
    border-color: #78f;
    box-shadow: 0 1px 2px #ccc;
  }

  .icon {
    width: $iconset-selector-size;
    max-height: $iconset-selector-size;
    height: auto;
  }

  .icon--font {
    font-size: $iconset-selector-size - 12;
    text-align: center;
  }
}

.iconset-selector__icons {
  .pane__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: space-evenly;
  }

  .icon-selector {
    display: block;
    flex: 0 0 auto;

    .icon {
      opacity: 0.75;
    }

    .icon:hover,
    &.icon--active .icon {
      opacity: 1;
    }
  }
}
