.field--widget-iconset-link .inline-link-widget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.inline-link-widget__icon-selector {
  flex: 0 0 auto;
  margin-right: 16px;
}

.inline-link-widget__wrapper {
  flex: 1 0 auto;
  max-width: 100%;

  .form-item__description {
    max-width: 560px;
  }
}
