{#
  Template for displaying SVG versions of icons.

  The use of <em>xlink:href</em> attribute has been depreciated, and the
  recommendation is to use just <em>href</em> however, Safari still seems to
  need the "xlink" namespace to work properly as of version 11.

  A polyfill is required for IE 11 or older, and brought in as a render array
  by an attached library.
#}
{% apply spaceless %}
<{{ tag }}{{ attributes.addClass(['icon', 'icon--font']) }}>
  {{ content }}
</{{ tag }}>
{% endapply %}
